<?php

define('TNST_ROOT', dirname(__FILE__));
define('TNST_DOCROOT', TNST_ROOT . '/www');
define('TNST_LIB', TNST_ROOT . '/lib');

define('EPGREC_PATH', '/var/www/ssl/epgrec');
define('RECPT1_PATH', '/usr/local/bin/recpt1');
define('RECPT1CTL_PATH', '/usr/local/bin/recpt1ctl');

define('URL_RTMP', 'rtmp://localhost:1935/tv/%s');
define('URL_HLS', 'https://YOUR.HOSTNAME.EXAMPLE.COM/hls/%s/index.m3u8');
define('URL_DASH', 'https://YOUR.HOSTNAME.EXAMPLE.COM/dash/%s/index.mpd');

define('START_RTMP_SH', dirname(__FILE__) . "/start_rtmp.sh");

