/* basic table styles */
table { border: 1px solid black; padding: 0; margin-bottom: 1em; }
td { padding: 2px; border: none; border: 1px solid #ccc; }
th { background: #888; color: #fff; text-align: left; padding: 2px;}
tr { border-bottom: 1px solid #000; margin-bottom: 8px; }

/* running commands */
.pid { font-size: 80%; }
.args { font-family: monospace; }

/* showing command result */
.command { border: double; background: #ddf;
	   padding: 2px; margin-bottom: 1em; }
.errors { border: double; background: #fdd;
	  padding: 2px; margin-bottom: 1em; }

/* <button>'s */
.inline { display: inline; }

/* for program table */
.ch { margin: 4px; width: 14em; font-size: 10pt; float: left; border: 1px solid black; }
.ch_desc { background: #ddd; padding: 2px; margin: 0px; font-weight: bold; }
.title { font-weight: bold; }
.time { font-size: 8pt;; }
.description { font-size: 8pt; height: 10em; }

/* background-color for selected channel */
.selected { background: #dfd; }
