/* running commands */
.pid { }
.args { font-family: monospace; }

/* <button>'s */
.inline { display: inline; }

/* background-color for selected channel */
.selected { background: #dfd; }


.prog_desc { font-size: 85%; }
